.section
{
    position: relative; /* for :before */

    overflow: hidden;

    min-height: 100%;

    font-size: 20px;
}

.section:before
{
    position: absolute;

    content: "";

    width: 1500px;
    height: 1500px;

    background-repeat: no-repeat;
    background-position: 150% -10%;
    background-size: 70%;

    opacity: .1;

    z-index: 0;
}

.section__inner
{
    position: relative;
    z-index: 1;

    padding: 40px;
}

.section .heading_level_1
{
    background: 50% 0 no-repeat;
    background-size: 120px;
    padding-top: 150px;
}

.section_type_reverbrain
{
    background: #366;
    background: radial-gradient(ellipse at 70% 10%, #366 0%, #1c1e26 100%);
}

.section_type_reverbrain:before
{
    background: url(../logo/logo_type_shape.svg) 0 0 no-repeat;
    background-size: 2000%;
}

.section_type_reverbrain .heading_level_2
{
    margin-bottom: 30px;
}

.section_type_reverbrain .section__description
{
    font-size: 26px;

    margin-bottom: 52px;
}

.section_type_elliptics
{
    background: #383366;
    background: radial-gradient(ellipse at 70% 10%, #383366 0%, #1c1e26 100%);
}

.section_type_elliptics:before
{
    background-image: url(../logo/logo_tech_elliptics.svg);
}

.section_type_elliptics .heading_level_1
{
    background-image: url(../logo/logo_tech_elliptics.svg);
}

.section_type_eblob
{
    background: #663358;
    background: radial-gradient(ellipse at 70% 10%, #663358 0%, #1c1e26 100%);
}

.section_type_eblob:before
{
    background-image: url(../logo/logo_tech_eblob.svg);
}

.section_type_eblob .heading_level_1
{
    background-image: url(../logo/logo_tech_eblob.svg);
}

.section_type_rift
{
    background: #335666;
    background: radial-gradient(ellipse at 70% 10%, #335666 0%, #1c1e26 100%);
}

.section_type_rift:before
{
    background-image: url(../logo/logo_tech_rift.svg);
}

.section_type_rift .heading_level_1
{
    background-image: url(../logo/logo_tech_rift.svg);
}

.section_type_about
{
    background: #616633;
    background: radial-gradient(ellipse at 70% 10%, #616633 0%, #1c1e26 100%);
}

.section__nav
{
    width: 80%;
    margin: 40px auto;

    text-align: center;
}

.section__nav .link
{
    display: inline-block;

    width: 30%;
}

.section__description
{
    padding: 0 60px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .section__inner
    {
        padding: 40px 1%;
    }

    .section__description
    {
        padding: 0 1%;
    }
}
