.section_type_reverbrain
{
    background: #1c1e26;
    color: #fff;
    /*background: radial-gradient(ellipse at 70% 10%, #366 0%, #1c1e26 100%);*/
}

.section_type_reverbrain .section__description
{
    margin-bottom: 6vmin;
    text-align: center;
    /*font-size: 26px;*/
}

.section_type_reverbrain .section__inner
{
    display: flex;
    flex-wrap: wrap;
}

.section_type_reverbrain .section__inner > *
{
    flex: 1 0 100%;
}

.section_type_reverbrain .section__nav
{
    order: 1;
}

.section_type_reverbrain .section__nav .logo
{
    margin: auto;
    width: 15vmin;
    height: 15vmin;
}

.section_type_reverbrain .logo_tech_reverbrain
{
    background-image: url(../../logo/logo_tech_reverbrain-white.svg);
}

.section_type_reverbrain .logo_tech_eblob
{
    background-image: url(../../logo/logo_tech_eblob-white.svg);
}

.section_type_reverbrain .link:hover .logo_tech_eblob
{
    background-image: url(../../logo/logo_tech_eblob-hovered-white.svg);
}

.section_type_reverbrain .logo_tech_elliptics
{
    background-image: url(../../logo/logo_tech_elliptics-white.svg);
}

.section_type_reverbrain .link:hover .logo_tech_elliptics
{
    background-image: url(../../logo/logo_tech_elliptics-hovered-white.svg);
}

.section_type_reverbrain .logo_tech_rift
{
    background-image: url(../../logo/logo_tech_rift-white.svg);
}

.section_type_reverbrain .link:hover .logo_tech_rift
{
    background-image: url(../../logo/logo_tech_rift-hovered-white.svg);
}
