.logo
{
    background: 50% 50% / auto 100% no-repeat;
}

.logo_tech_reverbrain
{
    background-image: url(logo_tech_reverbrain.svg);
}

.logo_tech_eblob
{
    background-image: url(logo_tech_eblob.svg);
}

.link:hover .logo_tech_eblob
{
    background-image: url(logo_tech_eblob-hovered.svg);
}

.logo_tech_elliptics
{
    background-image: url(logo_tech_elliptics.svg);
}

.link:hover .logo_tech_elliptics
{
    background-image: url(logo_tech_elliptics-hovered.svg);
}

.logo_tech_rift
{
    background-image: url(logo_tech_rift.svg);
}

.link:hover .logo_tech_rift
{
    background-image: url(logo_tech_rift-hovered.svg);
}
