/* used as preloader */
.overview:before
{
    content: "";
    background: url(../logo/logo_tech_elliptics-hovered.svg), url(../logo/logo_tech_eblob-hovered.svg), url(../logo/logo_tech_rift-hovered.svg);
}

.overview__item
{
    font-size: 24px;

    display: inline-block;

    width: 33%;
}

.overview__item .link
{
    display: block;
    margin: auto;
    padding-top: 86px;

    background: url(../logo/logo_tech_elliptics.svg) no-repeat 50% 0;
    background-size: 70px;
}

.overview__item_tech_elliptics .link
{
    background-image: url(../logo/logo_tech_elliptics.svg);
}

.overview__item_tech_elliptics .link:hover
{
    background-image: url(../logo/logo_tech_elliptics-hovered.svg);
}

.overview__item_tech_eblob .link
{
    background-image: url(../logo/logo_tech_eblob.svg);
}

.overview__item_tech_eblob .link:hover
{
    background-image: url(../logo/logo_tech_eblob-hovered.svg);
}

.overview__item_tech_rift .link
{
    background-image: url(../logo/logo_tech_rift.svg);
}

.overview__item_tech_rift .link:hover
{
    background-image: url(../logo/logo_tech_rift-hovered.svg);
}
