html
{
    height: 100%;
}

html .page:before
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: block;
    width: 320px;
    height: 180px;
    background: red;
    content: '';
}

html .page
{
    height: 100%;
    font-weight: 300;
    font-family: 'Open Sans', Arial, sans-serif;

    line-height: 1.5;
}

/*@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {*/
    /*.page*/
    /*{*/
        /*zoom: .5;*/
    /*}*/
/*}*/


.page__inner
{
    min-height: 100%;
    height: 100%;
}

.page #fp-nav
{
    right: 1vmin;
}

.page_num_0 #fp-nav ul li a span,
.page_num_4 #fp-nav ul li a span,
.page_num_0 .fp-slidesNav span,
.page_num_4 .fp-slidesNav span
{
    border-color: rgba(255, 255, 255, 0.2);
}

.page_num_0 #fp-nav ul li a.active span,
.page_num_4 #fp-nav ul li a.active span,
.page_num_0 .fp-slidesNav .active span,
.page_num_4 .fp-slidesNav .active span
{
    background-color: rgba(255, 255, 255, 0.3);
}
