.heading
{
    margin: 0;
    font-weight: normal;

    text-align: center;
}

.heading_level_1
{
    font-size: 42px;
}

.heading_level_2
{
    font-size: 36px;
}

.heading_level_3
{
    font-size: 32px;
}
