.heading
{
    margin: 0;
    font-weight: normal;

    text-align: center;
    line-height: 1.3;
}

.heading_level_1
{
    font-size: 7vmin;
}

.heading_level_2
{
    font-size: 4.5vmin;
}

.heading_level_3
{
    font-size: 4vmin;
}
